.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  .Date-Container{
    display: inline;
    margin: 12px;
  }
  .Date-Container .DatePicker{
    display: inline-block;
    margin: 12px;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  html,
  body,
  #root {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
  }
  
  .rootContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .boxController {
      visibility: visible;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 44em;
      min-width: 25em;
      height: 35px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
      box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
      margin-bottom: 30px;
      align-items: center;
      transition: visibility 0.5s ease-out;
  }
  
  .controller {
      flex: 1;
      text-align: center;
      height: 100%;
      line-height: 2;
      cursor: pointer;
  }
  

  
  .boxContainer {

      flex-direction: row;
      width: 100%;
      max-width: 50em;
      min-width: 35em;
      box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
      border-radius: 6px;
      padding: 24px;
  }

  .list{
      height:600px;
      float: right;
      overflow: auto;
  }
  .header {
      text-align: center;
      padding: 5px;
      margin-bottom: 17px;
      /* margin-left: 35px; */
      /* margin-right: 35px; */
      font-family: Ozxgen, sans-serif;
      font-size: 222px;
      border-bottom: 2px solid  #70a1ff;
  }
  
  .box {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  
  
